<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.first_name %>!</h1>
    <p>
    We are excited to say that you application was review and <%= @company.name %> is excited to send you a <%= @status %> Callback!
    </p>
  </body>
</html>