<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.first_name %>!</h1>
    <p>
    Unfortunatly, you weren't the right fit for <%= @company.name %>, but keep looking.  On average it takes over 100 applications to find a company where you will feel at home
    </p>
  </body>
</html>