<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hey there, <%= @user.first_name %></h1>
    <p>
    Thanks for getting in touch. We love hearing from people who are interested in our service, and we're thrilled to have you here.
    </p>
    <p>
    We know that finding dance jobs is hard, and we want to make it easier. With Callbck, you can apply for dance jobs with the press of a button—and it's fast and convenient! Just fill out a form, upload your resume and reel, and you'll be on your way to working with the best dancers in the industry.
    </p>
    <p>We're excited to get to know you better over time—and if there's anything else you'd like to know about our service or how it works, just let us know!</p>
  </body>
</html>







