#application-list-page{
    min-height: 92vh;
    position: relative;
}

#application-list-page header h1 {
    margin-left: 10%;
}



.applicant-card {
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.431);
    align-items: center;
    padding: 10px;
    width: 60%;

}

.applicant-card  img {
    height: 100px;
    border-radius: 50%;
    margin-right: 1em;
}


.applicant-card-left-container{
display: flex;
flex-direction: column;
margin-right: auto;
margin-left: 10px;
}

.applicant-card-left-container h5 {
    font-size: 1.4em;
    margin: 0;
}


.applicant-card button {
font-size: 1.4em;
padding: 5px 10px;
border-radius: 26px;
border: 1px solid #9980F9;
margin-left: 10px;
background-color: transparent;
color: #9980F9;
}

#expanded-application-modal{
position: fixed;
top: 0;
left: 0;
background-color: rgba(0, 0, 0, 0.611);
width: 100%;
height: 100%;
display: flex;
align-items: center;
justify-content: center;
}

#exp-app-modal-container{
    background-color: white;
    border-radius: 10px;
    min-width: 80%;
    max-width: 80%;
    min-height: 80%;
    padding: 10px;
    border: 1px solid;
}
#app-top-left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 3%;
    margin-top: 1%;
}

#app-top-left strong {
    font-weight: 400;
}

#app-top-left p{
    margin: 5px 0px;
}

#app-top-left a {
    color: black;
}

#app-top-left img {
    height: 300px;
    max-width: 400px;
    border-radius: 5px;
}

#exp-app-top-container{
display: flex;
align-items: flex-start;
justify-content: space-between;
}

#pdf-container{
    max-width: 80%;
    min-width: 66%;
    display: flex;
    margin: 0;
    margin-top: 1%;
    margin-right: 3%;
    border-radius: 5px;
}

#embeded-pdf{
width: 100%;
min-height: 500px;
border-radius: 5PX;
}

#exp-app-btn-container{
display: flex;
gap: 10px;
margin-top: 4em;
margin-left: 3%;
margin-right: 3%;
}

#exp-app-btn-container button {
    font-size: 1.4em;
    border-radius: 26px;
    width: 200px;
    height: 50px;
    border: 1px solid #9980F9;
    color: #9980F9;
    background-color: transparent;
}

.reject-app {
    margin-right: auto;
}



#exp-app-bottom-container{
display: flex;
justify-content: space-between;
margin-top: 1em;
padding: 0px 20px;
}

#exp-app-bottom-container button {
    font-size: 1.4em;
    padding: 5px 10px;
    border-radius: 26px;
    border: 1px solid black;
    background-color: transparent;
}

#no-form {
    position: absolute;
    top: -200%;
}

#apps-page-container {
    margin-left: 10%;
    margin-top: 5em;
}