#company-page{
    min-height: 92vh;
}

#company-post-modal{
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.505);
display: flex;
align-items: center;
justify-content: center;
}

#company-post-modal-form{
display: flex;
flex-direction: column;
background-color: white;
width: 40%;
aspect-ratio: 1/1;
padding: 20px;
align-items: center;
gap: 10px;
border-radius: 10px;
}



#company-post-modal-form h2 {
    color: black;
}



#company-post-modal-form input, textarea{
width: 80%;
height: 30px;
border-radius: 5px;
border: 1px solid #9880fa87;
}

#company-post-modal-form textarea {
    height: 20%;
}

#company-post-modal-form button {
    padding: 5px 10px ;
    font-size: 1.4em;
    background-color: #9980FA;
    border: none;
    color: white;
    border-radius: 16px;
}

#company-page-listing-section{
    margin-left: 10%;
}

.seller-page-listing-item{
    border-bottom: 1px solid black;
    width: 60%;
    display: flex;
    align-items: center;
    padding: 10px 0px;
}

.seller-page-listing-item:hover {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.712);
}

.spli-wrapper{
    margin-right: auto;
}

.seller-page-listing-item p{
    max-width: 90%;
}

#company-page-header{
    margin-left: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 55%;
    margin-top: 2em;
}

#company-page-header button {
font-size: 2em;
padding: 10px 20px;
border-radius: 36px;
border: none;
background-color: #9980FA;
color: white;
}

#delete-listing-company-btn{
    font-size: 1.2em;
    margin-left: 10px;
    border-radius: 26px;
    border: 1px solid black;
    background-color: transparent;
    padding: 5px 10px;
    min-width: 150px;
    text-overflow: ellipsis;
}

.new-listing-modal-dd{
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 5px;
    margin-bottom: 1em;
}