#dancer-page{
    min-height: 92vh;
}
#dancer-header{
    display: flex;
    align-items: center;
    margin-top: 2em;
    margin-bottom: 2em;
    justify-content: center;
}

#container-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 5%;

}   


.container {
    width: 80%;
}

.dancer-app-item {
border: 1px solid black;
width: 80%;
border-radius: 10px;
padding: 5px 10px;
display: flex;
align-items: center;
margin-bottom: 1em;
}

.dancer-app-item div {
margin-right: auto;}

.dancer-app-item button {
    font-size: 1.2em;
    padding: 5px 10px;
    border-radius: 26px;
    background-color: transparent;
    border: 1px solid black;
}

