#dancer-page{
    min-height: 92vh;
}
#dancer-header{
    display: flex;
    align-items: center;
    margin-top: 2em;
    margin-bottom: 2em;
    justify-content: center;
}

#container-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 5%;

}   


.container {
    width: 80%;
}

.dancer-app-item {
border: 1px solid black;
width: 80%;
border-radius: 10px;
padding: 5px 10px;
display: flex;
align-items: center;
margin-bottom: 1em;
}

.dancer-app-item div {
margin-right: auto;}

.dancer-app-item button {
    font-size: 1.2em;
    padding: 5px 10px;
    border-radius: 26px;
    background-color: transparent;
    border: 1px solid black;
}

#no-open-dancer-listings{
    display: flex;
    margin-top: 5em;
    flex-direction: column;
    align-items: center;
}

#no-open-dancer-listings a {
color: black;
}

@media (max-width: 428px) {

    .container {
        width: 90%;
    }


    .dancer-app-item{
        width: 100%;
    }

    .dancer-app-item button {
        font-size: 0.6em;
        min-width: 110px;
    }

    .dancer-app-item h4 {
        max-width: 100%;
        font-size: 0.9em;
    }

    .dancer-app-item p {
        font-size: 0.6em;
    }
}

