#home{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;

}

#hero {
min-height: 80vh;
width: 100%;
display: flex;
position: relative;
color: black;
}


#hero-container{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: -25em;
    padding: 5px;
}



#hero-img{
position: absolute;
height: 100%;
right: 0;
}

#hero h1 {
    font-size: 2.5em;
}

#hero h3 {
    font-size: 1.2em;
    max-width: 40%;
    font-weight: 400;
    text-align: justify;
}

#hero button {
    padding: 10px 20px;
    font-size: 2em;
    border-radius: 5px;
    margin-top: 1em;
    border: none;
    background-color: #9980FA;
    color: white;
    cursor: pointer;
}

#hero button:hover {
    transform: scale(1.1);
    transition: 300ms;
    
}

@media (max-width: 1200px) {
    #hero-img{
        display: none;
    }

    #hero-container{
        margin-left: 0em;
    }

    #hero button {
        margin-bottom: 2em;
    }

    #hero h1 {
        font-size: 2.2em;
    }
    #hero h3 {
        max-width: 90%;
        margin-bottom: 2em;
    }
}

@media (max-width: 428px) {
    #home{
        min-width: 100vw;
    }

    #hero-img {
        display: none;
    }

    #hero-container{
        margin: 0;
    }

    
}




#cta-section {
    min-height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: #9980FA;
    color: white;
    border-bottom-left-radius: 300px;
}

#cta-section button {
    padding: 10px 20px;
    font-size: 2em;
    border-radius: 5px;
    border: none;
    background-color: #eccc68;
    color: white;
    cursor: pointer;
}


#cta-section h2 {
font-size: 3em;
padding: 0px 10px;
}

#cta-section p {
font-size: 1.6em;
width: 30%;
}


@media (max-width: 428px) {

    #cta-section {
        padding: 0px;
        max-width: 100vw;
    }

    #cta-section h2 {
        font-size: 2em;
    }

    #cta-section p {
        font-size: 1.2em;
        width: 80%;
    }

    #cta-section button{
        margin-top: 1em;
    }
}


#company-cta-section {
    min-height: 80vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgba(0, 0, 0, 0.846);
    flex-wrap: wrap;
    padding: 2em 0;
    border-bottom-left-radius: 10%;
}

.company-cta-illistration{
    width: 50%;
    min-width: 728px;
    min-height: 10vh;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.company-cta-illistrations-container{
    min-height: 250px;
    width:  80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.3em;
    color: rgba(0, 0, 0, 0.846);
}

.company-cta-illistrations-container ion-icon {
font-size:8em;
}

.company-cta-illistrations-container-middle{
margin-bottom: 3em;
}

.company-cta-copy {
width: 49%;
min-width: 428px;
display: flex;
flex-direction: column;
align-items: center;
}

 .company-cta-copy h1 {
    font-size: 4em;
}
.company-cta-copy p {
    font-size: 1.6em;
    width: 80%;
}

.login-change-type {
    background-color: transparent;
    border: none;
    text-decoration: underline;
    margin-top: 4em;
}

 .company-cta-copy button{
    padding: 10px 20px;
    font-size: 2em;
    border-radius: 5px;
    border: none;
    background-color: #9980FA;
    color: white;
    cursor: pointer;
}

 .company-cta-copy button:hover {
    transform: scale(1.1);
    transition: 300ms;
}

@media (max-width: 700px) {
    #company-cta-section {
        max-width: 100vw;
        padding-bottom: 5em;
    }

    /* .company-cta-illistration {
    } */

    .company-cta-illistrations-container ion-icon {
        font-size:90px;
    }
    .company-cta-illistrations-container{
        justify-content: center;
        color: rgba(0, 0, 0, 0.846);
        gap: 20px;
        text-align: center;
    }

    .company-cta-illistrations-container div {
        font-size: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

}

@media (max-width: 428px) {
    #company-cta-section h1{
        font-size: 2.2em;
    }

    #company-cta-section p {
        font-size: 1.3em;
        width: 80%;
    }

    #company-cta-section button {
        font-size: 1.5em;
        margin-top: 1em;
    }
}