#listing-page{
    padding-left: 10%;
    min-height: 92vh;
    position: relative;
}

#listing-page-header{
    display: flex;
    align-items: center;
    width: 60%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.474);
}

#listing-page-header div {
    margin-right: auto;
}


#listing-page-info button{
    font-size: 1.4em;
    padding: 5px 10px;
    border-radius: 26px;
    border: 1px solid black;
    background-color: transparent;
}

#listing-desc{
    max-width: 80%;
}

#listing-pref-gender-container{
   display: flex;
   gap: 20px; 

}

.gender-item{
    text-transform: capitalize;
}

#listing-page-info {
    max-width: 70%;
}

#listing-page-company-section{
border-top: 1px solid rgba(0, 0, 0, 0.53);
border-bottom: 1px solid rgba(0, 0, 0, 0.53);
width: 60%;
margin-top: 2em;
margin-bottom: 2em;
}

#listing-page-company-section img {
width: 75px;
}

#listing-company-name-container{
display: flex;
align-items: center;
gap: 10px;
font-size: 1.6em;
}

#listing-pagination-seciton {
width: 60%;
display: flex;
margin-bottom: 2em;
}

#listing-pagination-seciton button {
font-size: 1.6em;
padding: 5px 10px;
border: none;
border-radius: 26px;
background-color: #9980FA;
color: white;
cursor: pointer;
}

#listing-pagination-seciton button:hover {
transform: scale(1.1);
transition: 300ms;
}

.lps-rb {
margin-right: auto;
}


#app-alert{
    position: fixed;
    top: 20px;
    right: 50px;
    background-color: dodgerblue;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: 600;
    animation: notif-slide-in 5000ms;
}

@keyframes notif-slide-in {
    0% {
        right: -500px;
    }

    5% {
        right: 50px
    }

    90% {
        right: 50px;
    }

    100% {
        right: -500px
    }
}


