#navbar {
display: flex;
}
#logo{
    margin-right: auto;
}

#logo:hover {
    cursor: pointer;
}

#nav-list {
    display: flex;
    gap: 10%;
    margin-right: 10%;
}

.nav-item {
list-style-type: none;
min-width:75px;
}