#navbar {
display: flex;
height: 8vh;
border-bottom: 1px solid rgba(0, 0, 0, 0.409);
display: flex;
align-items: center;
}
#logo{
    margin-right: auto;
}

#logo:hover {
    cursor: pointer;
}

#nav-list {
    display: flex;
    gap: 10%;
    margin-right: 10%;
}

.nav-item {
list-style-type: none;
min-width:75px;
}
