#signup-page{
min-height: 92vh;
display: flex;
align-items: center;
justify-content: center;
background-color: #9980FA;
}

#signup-page div {
margin-bottom: 1em;
display: flex;
align-items: center;
gap: 10px;
}


#signup-page textarea {
width: 70%;
height: 150px;
border-radius: 10px;
margin-bottom: 2em;
resize: none;
}


#signup-page section {
/* border: 1px solid black; */
border: none;
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.21);
border-radius: 10px;
min-width: 800px;
width: 40%;
min-height: 600px;
display: flex;
align-items: center;
flex-direction: column;
background-color: white;
justify-content: center;
}

#signup-page section button {
    background-color: transparent;
    border: none;
    text-decoration: underline;
    margin-top: 2em;
}

#signup-page section h1 {
    font-size: 3.2em;
}

#signup-page section form {
margin-top: 3em;
display: flex;
flex-direction: column;
width: 60%;
align-items: center;
justify-content: center;
position: relative;
}

.signup-input{
    margin-bottom: 1em;
    font-size: 1.4em;
    border-radius: 26px;
    border: 1px solid black;
    padding: 5px 20px;
    width: 60%;
}

#signup-page section form button {
    font-size: 1.4em;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px 10px;
    border-radius: 26px;
    border: 1px solid black;
    background-color: transparent;
    text-decoration: none;
    margin: 0;
}
/* Dancer sign up */
/* ================================================= */

#signup--dancer-page{
display: flex;
min-height: 92vh;
}

#signup-left-container{
background-image: url('https://images.pexels.com/photos/8934637/pexels-photo-8934637.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
background-size: cover;
height: 92vh;
width: 30%;
margin-right: 8em;
}

#dancer-signup-container{
    display: flex;
    flex-direction: column;
}

#dancer-signup-container h1 {
font-size: 3em;
margin-bottom: 1.5em;
}
#dancer-signup-form{
width: 110%;
}

.input-container{
display: flex;
flex-direction: column;
margin: 0;
}

.input-container input {
height: 30px;
width: 250px;
border-radius: 5px;
border: 1px solid rgba(0, 0, 0, 0.572);
margin: 0;
}

input[type="file"] {
align-self: center;
display: flex;
align-items: center;
justify-content: center;
padding: 15px 0px;
color: black;
}

.input-container select{
height: 35px;
width: 250px;
border-radius: 5px;
border: 1px solid rgba(0, 0, 0, 0.572);
margin: 0;
color: #000;
}

.input-container p {
    margin: 0;
    margin-bottom: 5px;
    font-size: 0.8em;
}

.input-divider{
    display: flex;
    align-items: center;
    gap: 5%;
    width: 100%;
    flex-wrap: wrap;
}


.input-divider fieldset {
    min-width: 250px;
    border: 1px solid rgba(0, 0, 0, 0.583);
    font-size: 0.8em;
    border-radius: 5px;
    height: 35px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}



.input-divider fieldset input {
    border: none;
    height: 100%;
    width: 100%;
    color: black;
}

.input-divider fieldset textarea {
    border: none;
    height: 100%;
    width: 100%;
    resize: none;
}


.input-divider fieldset input:focus{
    outline: 2px solid transparent;   
  }  /* oranges! yey */


.create-dancer-account-btn{
    font-size: 1.6em;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background-color: #9980FA;
    color: white;
    margin-top: 1em;
}


.change-type{
    width: fit-content;
    font-size: 1em;
    background-color: transparent;
    border: none;
    text-decoration: underline;
    margin-top: 2em;
    color: black;
}
/* 
#signup-ta{
    resize: none;
    height: 30px;
    width: 250px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.509);
} */

@media (max-width: 1000px) {
    #signup-left-container {
        display: none;
    }
    #signup--dancer-page {
        align-items: center;
        justify-content: center;
        padding: 40px;
        max-width: 100vw;
        overflow: hidden;
    }

    #dancer-signup-container{
        align-items: center;
        justify-content: center;
    }

    @media (max-width: 500px) {

        #dancer-signup-container h1 {
            font-size: 2.5em;
        }
    }

    #dancer-signup-container h2 {

    }

    #dancer-signup-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .input-divider {
        min-width: 500px;
        display: flex;
        justify-content: space-around;
        gap: 5px;
    }

    .input-divider fieldset {
        min-width: 250px;
    }


}